tarefa05/imobiliaria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:b="http://imobiliaria.org"
        targetNamespace="http://imobiliaria.org"
        elementFormDefault="qualified">
    <element name="nome" type="string"/>
    <element name="email" type="string"/>
    <element name="telefone" type="string"/>
    <element name="rua" type="string"/>
    <element name="bairro" type="string"/>
    <element name="cidade" type="string"/>
    <element name="número" type="integer"/>
    <element name="tamanho" type="decimal"/>
    <element name="numQuartos" type="integer"/> 
    <element name="numBanheiros" type="integer"/>
    <element name="valor" type="string"/>
    <element name="descricao" type="string"/>
    <element name="proprietario">
        <complexType>
            <sequence>
                <element ref="b:nome"/>
                <element ref="b:email" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="b:telefone" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="endereco">
        <complexType>
            <sequence>
                <element ref="b:rua"/>
                <element ref="b:bairro"/>
                <element ref="b:cidade"/>
                <element ref="b:número" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <element name="caracteristicas">
        <complexType>
            <sequence>
                <element ref="b:tamanho"/>
                <element ref="b:numQuartos"/>
                <element ref="b:numBanheiros"/>
            </sequence>
        </complexType>
    </element>  
    <element name="imovel">
        <complexType>
            <sequence>
                <element ref="b:descricao"/>
                <element ref="b:proprietario"/>
                <element ref="b:endereco"/>
                <element ref="b:caracteristicas"/>
                <element ref="b:valor"/>
            </sequence>
        </complexType>
    </element>
    <element name="imobiliaria">
        <complexType>
            <sequence>
                <element ref="b:imovel" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>