tarefa04/cardapio.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:b="http://cardapio.org"
        targetNamespace="http://cardapio.org"
        elementFormDefault="qualified">
    <element name="cardapio">
        <complexType>
            <sequence>
                <element ref="b:prato" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <complexType name="prato">
        <sequence>
            <element ref="b:nome"/>
            <element ref="b:descricao"/>
            <element ref="b:ingredientes"/>
            <element ref="b:preco"/>
            <element ref="b:calorias"/>
            <element ref="b:tempoPreparo"/>
        </sequence>
        <attribute name="id" type="integer" use="required"/>
    </complexType>
    <element name="ingredientes">
        <complexType>
            <sequence>
                <element ref="b:ingrediente" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <simpleType name="precoType">
        <restriction base="decimal">
            <fractionDigits value="2"/>
        </restriction>
    </simpleType>
    <element name="prato" type="b:prato"/>
    <element name="nome" type="string"/>
    <element name="descricao" type="string"/>
    <element name="preco" type="b:precoType"/>
    <element name="tempoPreparo" type="string"/>
    <element name="calorias" type="integer"/>
    <element name="ingrediente" type="string"/>
</schema>