tarefa06/quiz.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:b="http://quiz.org"
        targetNamespace="http://quiz.org"
        elementFormDefault="qualified">
    <element name="disciplina" type="string"/>
    <element name="nome" type="string"/>
    <element name="matrícula" type="string"/>
    <element name="turma" type="string"/>
    <element name="data" type="string"/>
    <element name="enunciado" type="string"/>
    <element name="pontuação" type="string"/>
    <element name="professor">
        <complexType>
            <sequence>
                <element ref="b:nome"/>
                <element ref="b:matrícula" minOccurs="0"/>
            </sequence>
        </complexType>
    </element>
    <simpleType name="alternativaType">
        <restriction base="string">
            <enumeration value="sim"/>
            <enumeration value="nao"/>
        </restriction>
    </simpleType>
    <element name="alternativa">
        <complexType>
            <simpleContent>
                <extension base="string">
                    <attribute name="correta" type="b:alternativaType" use="required"/>
                </extension>
            </simpleContent>
        </complexType>
    </element>
    <element name="alternativas">
        <complexType>
            <sequence>
                <element ref="b:alternativa" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="questão">
        <complexType>
            <sequence>
                <element ref="b:enunciado"/>
                <element ref="b:pontuação"/>
                <element ref="b:alternativas"/>
            </sequence>
        </complexType>
    </element>
    <element name="questões">
        <complexType>
            <sequence>
                <element ref="b:questão" minOccurs="1" maxOccurs="unbounded"/>
            </sequence> 
        </complexType>
    </element>
    <element name="quiz">
        <complexType>
            <sequence>
                <element ref="b:disciplina"/>
                <element ref="b:professor"/>
                <element ref="b:turma"/>
                <element ref="b:data"/>
                <element ref="b:questões"/> 
            </sequence>
            <attribute name="versao" type="string" use="required"/>
        </complexType>
    </element>
</schema>